ZDL.AnyCodes/Service References/SmsMutiSendService/SmsMultiSendService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendAliTplSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobiles" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tplid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sign" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="param" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAliTplSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendAliTplSMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendAliTplSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SendAliTplSMS" />
  </wsdl:message>
  <wsdl:message name="SendAliTplSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SendAliTplSMSResponse" />
  </wsdl:message>
  <wsdl:portType name="SmsMultiSendServiceSoap">
    <wsdl:operation name="SendAliTplSMS">
      <wsdl:input message="tns:SendAliTplSMSSoapIn" />
      <wsdl:output message="tns:SendAliTplSMSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SmsMultiSendServiceSoap" type="tns:SmsMultiSendServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendAliTplSMS">
      <soap:operation soapAction="http://tempuri.org/SendAliTplSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SmsMultiSendServiceSoap12" type="tns:SmsMultiSendServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendAliTplSMS">
      <soap12:operation soapAction="http://tempuri.org/SendAliTplSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmsMultiSendService">
    <wsdl:port name="SmsMultiSendServiceSoap" binding="tns:SmsMultiSendServiceSoap">
      <soap:address location="http://service.txooo.com/Internal/V1/SmsMultiSendService.asmx" />
    </wsdl:port>
    <wsdl:port name="SmsMultiSendServiceSoap12" binding="tns:SmsMultiSendServiceSoap12">
      <soap12:address location="http://service.txooo.com/Internal/V1/SmsMultiSendService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>