ZDL.AnyCodes/Service References/FilterService/FilterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FilterUserData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FilterUserDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FilterUserDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWords">
        <s:complexType />
      </s:element>
      <s:element name="UpdateWordsResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FilterUserDataSoapIn">
    <wsdl:part name="parameters" element="tns:FilterUserData" />
  </wsdl:message>
  <wsdl:message name="FilterUserDataSoapOut">
    <wsdl:part name="parameters" element="tns:FilterUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateWordsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateWords" />
  </wsdl:message>
  <wsdl:message name="UpdateWordsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateWordsResponse" />
  </wsdl:message>
  <wsdl:portType name="FilterServiceSoap">
    <wsdl:operation name="FilterUserData">
      <wsdl:input message="tns:FilterUserDataSoapIn" />
      <wsdl:output message="tns:FilterUserDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWords">
      <wsdl:input message="tns:UpdateWordsSoapIn" />
      <wsdl:output message="tns:UpdateWordsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FilterServiceSoap" type="tns:FilterServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FilterUserData">
      <soap:operation soapAction="http://tempuri.org/FilterUserData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWords">
      <soap:operation soapAction="http://tempuri.org/UpdateWords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FilterServiceSoap12" type="tns:FilterServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FilterUserData">
      <soap12:operation soapAction="http://tempuri.org/FilterUserData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWords">
      <soap12:operation soapAction="http://tempuri.org/UpdateWords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FilterService">
    <wsdl:port name="FilterServiceSoap" binding="tns:FilterServiceSoap">
      <soap:address location="http://service.txooo.com/Internal/V1/FilterService.asmx" />
    </wsdl:port>
    <wsdl:port name="FilterServiceSoap12" binding="tns:FilterServiceSoap12">
      <soap12:address location="http://service.txooo.com/Internal/V1/FilterService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>